@model IEnumerable<Model.Indimaret.Barang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <button type="button" id="idBtnCreateBarang">Create Setunggal Data</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TokoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KodeBarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamaBarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsalPabrik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JmlBarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LamaKadaluarsa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TokoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodeBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamaBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsalPabrik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JmlBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LamaKadaluarsa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
            <button type="button" class="btn btn-danger clDeteleBarang" dataID=@item.ID><span class="glyphicon glyphicon-trash"></span></button>
        </td>
    </tr>
}

</table>

<div class="modal fade" id="idMdlCreateBarang" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Tambah Setunggal Barang</h4>
            </div>
            <div class="modal-body" id="idBodyCreateBarang">
                
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $('.clDeteleBarang').click(function () {
        var vDataID = $(this).attr('dataID');
        debugger;
        $.ajax({
            url: '/Home/Delete',
            data:{ID:vDataID},
            method: 'Post',
            success: function () {
                debugger;
            }
        });
    });

    $('#idBtnCreateBarang').click(function () {

        $.ajax({
            url: '/Home/Create',
            method: 'Get',
            success: function (mdl) {

                $('#idBodyCreateBarang').empty();
                $('#idBodyCreateBarang').append(mdl);
                $('#idMdlCreateBarang').modal('show');
            },
            error: function (mdl) {
                debugger;
            }
        });
    });

    
</script>